:root {
  --color-primary: #fd377e;
  --color-primary-hover: #e34981;
  --color-secondary: #03b898;

  --color-gray-1: #f8f9fa;
  --color-gray-2: #e9ecef;
  --color-gray-3: #868e96;
  --color-gray-4: #212529;
}
